@namespace Firewind.Components
@inherits FirewindComponentBase

<div @attributes="ComponentAttributes"></div>

@code
{
    /// <summary>
    /// Gets the root CSS class for the divider component.
    /// </summary>
    protected override string CssClass => "fw-divider";
}
