@namespace Firewind.Components
@inherits FirewindComponentBase

<span @attributes="ComponentAttributes">
    <span style="--value:@Value;" aria-live="polite" aria-label="@Value">@Value</span>
</span>

@code {
    /// <summary>
    /// Gets or sets the countdown value (0-999).
    /// </summary>
    [Parameter] public int Value { get; set; }

    /// <summary>
    /// Gets CSS classes for countdown component.
    /// </summary>
    protected override string CssClass => "fw-countdown";
}
