@namespace Firewind.Components
@inherits FirewindComponentBase

<dialog @attributes="ComponentAttributes" @onclose="OnClosedAsync">
    <div class="fw-modal-box">
        @ChildContent
    </div>
    <form method="dialog" class="fw-modal-backdrop">
        <button type="submit">Close</button>
    </form>
</dialog>

@code
{
    [Parameter]
    public bool Open { get; set; }

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override string CssClass => "fw-modal";

    private async Task OnClosedAsync()
    {
        this.Open = false;
        await OpenChanged.InvokeAsync(this.Open);
    }
}
