<div class="flex flex-col items-center gap-2 px-2">
    <FWLink href="#" Color="ThemeColor.Primary">Primary Link</FWLink>
    <FWLink href="#" Color="ThemeColor.Success">Success Link</FWLink>
    <FWLink href="#" Color="ThemeColor.Warning">Warning Link</FWLink>
    <FWLink href="#" Color="ThemeColor.Neutral" HoverOnly="true">Hover-Only Underline</FWLink>
</div>
