<div class="w-full max-w-sm px-2">
    <FWDivider Color="ThemeColor.Primary">Primary</FWDivider>
    <FWDivider Position="ElementPosition.Start" Color="ThemeColor.Success">Start</FWDivider>
    <FWDivider Position="ElementPosition.End" Color="ThemeColor.Warning">End</FWDivider>

    <div class="flex items-center justify-center h-24 mt-4">
        <span class="text-sm">Left</span>
        <FWDivider Orientation="DividerOrientation.Horizontal" Color="ThemeColor.Accent" class="h-full">OR</FWDivider>
        <span class="text-sm">Right</span>
    </div>
</div>
