<FWFooter Orientation="JoinOrientation.Horizontal" class="bg-base-200 rounded-box p-6">
    <nav>
        <h6 class="fw-footer-title">Services</h6>
        <a class="link link-hover">Branding</a>
    </nav>
    <nav>
        <h6 class="fw-footer-title">Company</h6>
        <a class="link link-hover">About us</a>
    </nav>
</FWFooter>
