<div class="flex items-center gap-4 p-4">
    <FWMask Source="https://picsum.photos/100" Alt="mask" Shape="MaskShape.Squircle" class="w-20" />
    <FWMask Source="https://picsum.photos/101" Alt="mask" Shape="MaskShape.Circle" class="w-20" />
</div>
