<FWStack Alignment="StackAlignment.Top" class="w-32">
    <div class="grid h-16 place-items-center rounded bg-primary text-primary-content">1</div>
    <div class="grid h-16 place-items-center rounded bg-secondary text-secondary-content">2</div>
    <div class="grid h-16 place-items-center rounded bg-accent text-accent-content">3</div>
</FWStack>
