@namespace Firewind.Components
@inherits FirewindComponentBase
@using ColorCode

<div @attributes="ComponentAttributes">
    <div class="h-full pb-2 fw-scrollable">
        @{
            var sourceLines = SourceLines;
        }

        @for (var lineNumber = 1; lineNumber <= sourceLines.Count; lineNumber++)
        {
            <pre data-prefix="@lineNumber"><code>@sourceLines[lineNumber - 1]</code></pre>
        }
    </div>
</div>

@code {
    [Parameter] public string SourceCode { get; set; } = string.Empty;
    [Parameter] public string Language { get; set; } = string.Empty;

    private static readonly string[] LineSeparators = ["\r\n", "\n", "\r"];

    private IReadOnlyList<string> SourceLines => this.SourceCode.Split(LineSeparators, StringSplitOptions.None);

    protected override string CssClass => "fw-mockup-code border border-base-300 pb-0 flex flex-col overflow-hidden";
}
