@namespace Firewind.Components
@inherits FirewindComponentBase

<div @attributes="ComponentAttributes">
    @ChildContent
</div>

@code {
    /// <summary>
    /// Gets or sets mockup window content.
    /// </summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Gets CSS classes for window mockup.
    /// </summary>
    protected override string CssClass => "fw-mockup-window";
}
