@inject HttpClient Http

<article class="prose prose-sm md:prose-base py-4 max-w-full w-full xl:w-5/6 mx-auto">
    <h2>@Title</h2>
    <p>@Article</p>
</article>

<div class="fw-join flex flex-col lg:flex-row my-4 w-full xl:w-5/6 mx-auto">
    <div class="fw-join-item flex-1 pb-2 lg:pb-0 lg:pr-2 overflow-hidden">
        <div class="fw-mockup-browser border border-base-300 flex flex-col p-0 bg-base-300 h-96 overflow-hidden">
            <div class="fw-mockup-browser-toolbar">
                <div class="fw-input">https://example.com/demos/@(Demo.Name)</div>
            </div>
            <div class="flex flex-col items-center justify-center w-full h-192 h-96 fw-scrollable bg-base-100">
                <DynamicComponent Type="Demo" />
            </div>
        </div>
    </div>

    <div class="fw-join-item flex-1 pt-2 lg:pt-0 lg:pl-2 overflow-hidden">
        <FWCodeView SourceCode="@DemoSource" Language="csharp" class="h-96" />
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Article { get; set; }
    [Parameter] public Type Demo { get; set; }

    private string DemoSource { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            DemoSource = await Http.GetStringAsync($"demos/sources/{Demo.Name}.razor.txt");
        }
        catch (Exception ex)
        {
            // Handle exceptions (e.g., file not found)
            DemoSource = $"Error loading source code: {ex.Message}";
        }

        await base.OnInitializedAsync();
    }
}
