@inject HttpClient Http

<article class="prose prose-sm md:prose-base py-4 max-w-full w-full xl:w-5/6 mx-auto">
    <h2>@Title</h2>
    <p>@Article</p>
</article>

<FWJoin class="my-4 w-full xl:w-5/6 mx-auto flex flex-col lg:flex-row">
    <div class="fw-join-item flex-1 pb-2 lg:pb-0 lg:pr-2 overflow-hidden">
        <FWBrowserMockup Address="@($"https://example.com/demos/{Demo.Name}")" class="h-96">
            <div class="flex min-h-full w-full flex-col items-center justify-start">
                <DynamicComponent Type="Demo" />
            </div>
        </FWBrowserMockup>
    </div>

    <div class="fw-join-item flex-1 pt-2 lg:pt-0 lg:pl-2 overflow-hidden">
        <FWCodeView SourceCode="@DemoSource" Language="csharp" class="h-96" />
    </div>
</FWJoin>

@code {
    [Parameter] public required string Title { get; set; }
    [Parameter] public required string Article { get; set; }
    [Parameter] public required Type Demo { get; set; }

    private string DemoSource { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            DemoSource = await Http.GetStringAsync($"demos/sources/{Demo.Name}.razor.txt");
        }
        catch (Exception ex)
        {
            // Handle exceptions (e.g., file not found)
            DemoSource = $"Error loading source code: {ex.Message}";
        }

        await base.OnInitializedAsync();
    }
}
