<div class="flex flex-wrap items-center gap-3 p-4">
    <FWBadge>default</FWBadge>
    <FWBadge Color="ThemeColor.Primary">primary</FWBadge>
    <FWBadge Outline Color="ThemeColor.Secondary">outline</FWBadge>
    <FWBadge Soft Color="ThemeColor.Success">soft</FWBadge>
</div>
