@namespace Firewind.Components
@typeparam TMenuItem
@inherits FirewindDataComponentBase<TMenuItem>

<ul @attributes="ComponentAttributes">
    @foreach (var item in Items)
    {
        <li>@RenderItem(item)</li>
    }
</ul>

@code
{
    /// <summary>
    /// Gets or sets the menu orientation variant.
    /// </summary>
    [Parameter]
    public MenuOrientation Orientation { get; set; }

    /// <summary>
    /// Gets or sets the menu size variant.
    /// </summary>
    [Parameter]
    public MenuSize Size { get; set; }

    /// <summary>
    /// Gets the root CSS class for the menu component.
    /// </summary>
    protected override string CssClass => new VariantClassBuilder("fw-menu")
        .AddVariant(this.Orientation, static orientation => orientation.ClassNames())
        .AddVariant(this.Size, static size => size.ClassNames())
        .Build();

    /// <summary>
    /// Gets the fallback template used when <see cref="FirewindDataComponentBase{TDataItem}.ItemTemplate"/> is not provided.
    /// </summary>
    protected override RenderFragment<TMenuItem> DefaultItemTemplate => (context) => (__builder) =>
    {
        <FWLink href="#">@context?.ToString()</FWLink>
    };
}
