@namespace Firewind.Components
@typeparam TMenuItem
@inherits FirewindDataComponentBase<TMenuItem>

<ul @attributes="ComponentAttributes">
    @foreach (var item in Items)
    {
        <li>@RenderItem(item)</li>
    }
</ul>

@code
{
    /// <summary>
    /// Gets the root CSS class for the menu component.
    /// </summary>
    protected override string CssClass => "fw-menu";

    /// <summary>
    /// Gets the fallback template used when <see cref="FirewindDataComponentBase{TDataItem}.ItemTemplate"/> is not provided.
    /// </summary>
    protected override RenderFragment<TMenuItem> DefaultItemTemplate => (context) => (__builder) =>
    {
        <FWLink href="#">@context?.ToString()</FWLink>
    };
}
