<div class="flex w-full max-w-md flex-col gap-4 p-4">
    <FWRange Value="25" />
    <FWRange Value="45" Color="ThemeColor.Secondary" />
    <FWRange Value="75" Color="ThemeColor.Success" Size="ComponentSize.Small" />
</div>
